*{
    margin: 0;
    padding: 0;
    font-family: Arial; 
    font-style: normal;
    font-size: large;
}
.heading h1{
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 3em;
    color:azure;
    text-transform: uppercase;
    text-align: center;
}
body{
    background-image: url("bg-3.gif");
    background-size: 1590px;
}
.heading1{
    margin: auto;
    color:azure;
    position: absolute;
    font-family: cursive;
    top: 12%;
    left: 30%;
    font-size: 40px;
    
}
